*{
	outline: none;
	margin:0;
}

body{
	min-width: 1366px;
}
.animate-box {
  opacity: 0;
}
.header{
	background-color: transparent;
	color: #ffffff;
	font-weight: lighter;
}

.logo{
	font-size: 1.6em;
	margin-top: 18px;
   	margin-bottom: 32px;
	height: 30px;
}

input{
	border:1px solid #ddd;
}

.header-right{
	font-size: 1.3em;
	margin-top: 18px;
	float: right;
	cursor: pointer;
}

.header-right>p{
	margin-right: 30px;
	margin-top: 13px;
	float: left;
}

.header-right span{
	color:#fff;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 56px;
	cursor: pointer;
	font-weight: 500;
}

.header-right a{
	margin-right:30px;
	color: #337ab7 !important;
}

.header-right .user-picture{
	margin-right: 10px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.header-right a{
	color: #fff;
}

.header-right a:hover{
	color: #337ab7;
}

.login{
	margin: 20px 5px 20px 5px;
	color: #fff;
}

.login_left{
	height: 80px;
}

.login_left p:first-child{
	margin-top: 20px;
	font-size: 2.5em;
}

.login_right{
	background-color: rgba(95,95,95,0.65);
	margin:20px auto;
	float: none;
	height: 550px;
	border-radius: 5px;
	color: #000;
}

@media screen and (max-width:1444px) {
	.login_right{
		height: 347px !important;
		margin: 0 auto;
	}
	.login_right>p {
		height: 70px;
		line-height: 70px;
	}
	.login_left p:first-child {
		margin-top: 0px;
	}
	.login_left {
		height: 45px;
	}
	.input_div1366{
		margin-top: 40px !important;
	}
	.verify1366{
		margin-top: 15px !important;
	}
	.input_div_first {
		margin-top: 10px !important;
	}
	.footer1{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.footer-img{
		width: 68px !important;
	}
}

@media screen and (min-width:768px) {
  .login_right{
	max-width: 480px;
}
}

.login_right>p{
	height: 80px;
	line-height: 80px;
	font-size: 2em;
	color: #fff;
	letter-spacing: 3px;
}

.login_right i{
	font-size: 1.6em;
	color: #029ffb;
	margin-top: 5px;
}

.login_right input{
	border: none;
	height: 35px;
	font-size: 1.2em;
	margin-bottom: 5px ;
}



.input_div{
	margin-top: 50px;
	background-color: #fff;
	border-radius: 5px;
}

.input_div2{
	background-color: transparent;
}

.input_div2 input{
	background-color: transparent;
	color: #e2e2e2;
}

@media screen and (max-width:768px){
	.input_div_first {
		margin-top: 10px !important;
	}

	.login_right{
		height: 500px;
	}
		
}

.input_div>div{
	margin-top: 6px;
	vertical-align: bottom;
}

.verify{
	margin-top: 10px;
}

.verify .img{
	height: 52px;
	margin: 14px 0 0 0;
	padding: 0;
	background-size: cover;
	border:1px solid rgba(95,95,95,0.65);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.method{
	font-size: 1.4em;
	color: rgba(266,266,266,0.5);
	margin-top: 40px;
}

.method div:first-child{
	padding-left: 8%;
}

input[type="radio"]{
	zoom:180%;
	height: 10px;
	line-height: 10px;
	vertical-align: middle;
	margin-right: 3px;
	cursor: pointer;
}

input[type="button"]{
	height: 50px;
	border-radius: 5px;
	color: #fff;
	background-color:#029ffb;
	margin-top: 20px;
	cursor: pointer;
}

div.load{
	display: none;
	line-height: 40px;
	border-radius: 5px;
	background-color:#07598a;
	text-align: center;
	padding-top: 10px;
	margin-top: 20px;
	margin-bottom: 5px;
}

div.load i{
	color: #fff;
	display: inline-block;
}

input[type="button"]:hover{
	background-color:#07598a;
	transition: 0.5s;
}

input[type="button"]:active{
	transform: scale(0.95);
	transition: all 0.5s;
}

.double_button{
	width: 70%;
}

@media screen and (max-width:768px){
	.double_button{
		width: 100%;
	}
}

.left{
	float: left;
}

.right{
	float: right;
}

.center{
	text-align: center;
}

a:hover{
	text-decoration: none;
	cursor: pointer;
}

.menu{
/*	background-color: #323232;*/
	position: relative;
	overflow: auto;
}

.menu_after{
	position: absolute;
	width: 1px;
	height: 800px;
	background-color: rgba(107, 108, 109, 0.19);
	top: 70px;
	left: 260px;
}

.menu li{
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	cursor: pointer;
	font-size: 1.1em;
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

.menu li:first-child {
    cursor: default;
}

.menu ul{
	margin: 0;
	padding-left: 0;
}

.menu span{
	color: #fff;
	border-radius: 4px;
	padding: 4px;
	position: absolute;
	line-height: 10px;
	margin: 10px 15px 0 15px;
}

.menu i{
	font-size: 1.1em;
	vertical-align: middle;
	margin-right: 5px;
}

.color-green{
	color: green;
}
.color-red{
	color: red !important;
}

.color-orange{
	color: orange;
}

.color-gray{
	color: #a09e9e;
}

.green{
	background-color: green;
}

.red{
	background-color: red;
}

.blue{
	background-color: blue !important;
}

.green{
	background-color: green !important;
}

.gray{
	background-color: gray;
}

.orange{
	background-color: orange;
}

.control .title{
	height: 25px;
	border-left: 2px solid rgb(136,183,224);
	margin: 60px 0 0 30px;
	padding: 0 0 0 30px;
	font-size: 1.3em;
	font-weight: 900;
}

.control .general{
	border-bottom: 1px solid #ddd;
	padding-top: 30px;
	position: relative;
	background-color: #fff;
}

.tab{
	font-size: 1.6em;
	font-weight: 500;
	line-height: 50px;
	cursor: pointer;
	border-bottom: 3px solid transparent;
	width: auto;
}

.tab-active{
	border-bottom: 3px solid #07d0f1;
	color: #07d0f1;
	transition: all .5s;
}

.show{
	display: block;
}

.search-online{
	position: relative;
	float: right;
	margin-right: 5px;
	width: 250px;
	transition: width .5s;
}

.search-online input{
	float: right;
	height: 38px;
	width: 80%;
	border-radius: 30px;
	font-size: 1.1em;
	padding: 0 35px 0 10px;
	border: 1px solid #ddd;
	transition: width .5s;
}

.search-online input:focus{
	width: 100%;
	transition: width .5s;
}

.filter{
	height: 56px;
	position: relative;
	background-color: #fff;
}

.filter-title:hover{
	background-color: #ddd;
}

.filter>div:first-child{
	background-color: #fff;
}

.filter-title,.filter-go{
	line-height: 56px;
	font-size: 1.1em;
	width: 100px;
	float: left;
	cursor: pointer;
}

.filter-go{
	width: 50px;
}

.debug-log-title,.warning-log-title,.info-log-title,.error-log-title{
	line-height: 56px;
	font-size: 1.1em;
	width: 100px;
	float: left;
	cursor: pointer;
}

.debug-log-title:hover,.warning-log-title:hover,.info-log-title:hover,.error-log-title:hover{
	background-color: rgba(244,243,242,1) !important;/*
	color: #07d0f1;*/
}

.log-title-click{
	background-color: rgba(244,243,242,1) !important;
	color: #07d0f1;
	transition: all .5s;
}

.filter-go{
	float: right;
	color: #07d0f1;
	font-weight: 600;
}
/*.filter-title:hover~.filter-content{*/
	/*visibility: visible;*/
	/*transition: all 0s;*/
/*}*/

.filter-content:hover{
	visibility: visible;
}

.filter-content{
	position: absolute;
	top: 56px;
	background-color: #ddd;
	left: 0;
	right: 0;
	padding-left: 5%;
	visibility: hidden;
	z-index: 10;
	transition: all 0s .5s;
}

.filter-content .speed,.filter-content .angel,.filter-content .size,.filter-content .brake{
	height: 56px;
}
.filter-content .speed,.filter-content .angel,.filter-content .size,.filter-content .brake,.filter-content .exception{
	display: none;
}
.filter-content .angel input,.filter-content .brake input,.exception input{
	width: 250px;
	height: 35px;
	padding: 0 10px;
	border-radius: 5px;
	margin-top: 8px;
	margin-left: 10px;
	margin-bottom:8px;
}

.filter-content .brake input:first-child{
	margin-right: 30px;
}

.filter-content .size select ,select{
	width: 250px;
	height: 35px;
	padding: 0 10px;
	border-radius: 3px;
	margin-top: 8px;
	margin-left: 10px;
	border:1px solid #ddd;
}
	
.filter-content .size option{
	height: 35px;
}

/* .filter-content .exception{
	font-size: 1.3em;
	margin:10px 0;
	padding-top: 8px;
} */

/* .filter-content .exception>div{
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
} */
/* 
.filter-content .exception input{
	margin-right: 5px;
	vertical-align: -2px;
	display: none;
}

.filter-content .exception label{
	font-weight: 500;
	font-size: .9em;
    cursor: pointer;
} */

.filter-content .exception input[type="checkbox"] + label::before {
    content: "\a0";  /*不换行空格*/
    display: inline-block;
    vertical-align: .2em;
	font-weight: bold;
    width: .8em;
    height: .8em;
    margin-right: .3em;
    border-radius: .2em;
    background-color: silver;
    text-indent: .15em;
    line-height: .65;  /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
}

.filter-content .exception input[type="checkbox"]:checked + label::before {
    content: "\2713";
    background-color: yellowgreen;
}

.log{
	background-color: #fff;
	height: 100px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
}

.log i{
	font-size:4em;
	margin: 20px 0 0 20px;	
	color: #54caef;
	vertical-align: top;
}

.log .log-title{
	display: inline-block;
	margin-left: 20px;
	margin-top: 15px;
}

.log .log-title h5{
	font-size: 1.3em;
	font-weight: 600;
}

.log a{
	float: right;
	font-size: 1.4em;
	font-weight: 700;
	color: #54caef;
	line-height: 100px;
	margin-right: 40px;
}
.log .time{
	float: right;
	font-size: 1em;
	color: #000;
	line-height: 100px;
	margin-right: 40px;
}

.warning-log,.info-log,.error-log{
	display: none;
}

.car>div{
	margin: 5px;
	overflow: hidden;
	background-color: #fff;
}

.car-content::-webkit-scrollbar {     
	/* 血槽宽度 */   
	width: 8px; height: 8px; 
	} 

.car-content::-webkit-scrollbar-thumb {     
	/* 拖动条 */   
	background-color: rgba(0,0,0,.3);   
	border-radius: 6px; 
	} 

.car-content::-webkit-scrollbar-track {     
	/* 背景槽 */   
	background-color: #ddd;   
	border-radius: 6px; 
}

@media screen and (max-width:1388px){
	.car-content{
		height: 510px;
	}
}

.car-thumb{
	position: relative;
	height: 70px;
	background-color: #fff;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px;
	line-height: 49px;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.car-thumb-father{
	width: 200px;
	float: left;
	padding: 10px;
}

.car{
	width: 100%;
	border-radius: 5px;
	padding: 10px;
}

.car-left{
	border-right: 1px solid #f6f5f4;
}

.car-board{
	background:url("../image/car_board.png") no-repeat;
	width: 100%;
	background-size: 100%;
	margin:20px 0 20px 0px;	
}

.car-board img{
	width: 50%;
	margin:21% 0 23% 26%;
	transform:rotateZ(135deg);
	transform-origin:42% 48%;
}

.car-brake{
	border-top:1px solid #f6f5f4;
	padding-top: 20px;
	padding-bottom: 20px;
}

.car-brake div{
	display: inline-block;
	text-align: left;
}

#car-light{
	font-size: 0;
}

.car-brake i,.car-light i{
	margin:6px 2px 6px 8px;
	font-size: 14px;
}

.car-light span{
	font-size: 14px;
}

.car-light{
	border-bottom: 1px solid #f4f3f2;
	overflow: hidden;
	padding: 5px 0;
}

.car-light span{
	cursor: pointer;
}

.car-light .fa-lightbulb-o{
	font-size: 3em;
	color: #a09e9e;
}

.car-information{
	padding: 8px 0 26px 0;
	border-bottom: 1px solid #f4f3f2;
}

.car-information-item{
	font-size: 1.1em;
	line-height: 25px;
	font-weight: 600;
	display: inline-block;
	width: 100px;
}

.car-information-value{
	margin-left: 10px;

}

.car-button{
	padding: 5px 0;
	margin-top: 15px;
}

.car-button button{
	margin: 5px 5px;
	min-width: 100px;
	width: 20%;
	height: 35px;
	color: #fff;
	background-color: #07d0f1;
	border: 1px solid #07d0f1;
	border-radius: 3px;
}

.out-list>div{
	background-color: #fff;
	border-radius: 3px;
	padding: 10px;
}

.user-tr,.user-td{
	 line-height: 40px;
	 height: 40px;
	 text-align: center;
	 border-top: 1px solid #e6e6e6;
	 overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
 }

/*warning*/

.warning-tr,.warning-td{
	line-height: 40px;
	height: 40px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.table{
	border: 1px solid #e6e6e6;
}

.table .user-th:nth-child(even) .user-td{
	background-color: rgba(243, 242, 241, 0.47);
}

.table .user-th,.table .user-tH{
	cursor: pointer;
}

.user-tr{
	background-color: #f2f2f2;
}

.user-tr{
	border-top: none;
}

.user-tr+.user-tr{
	border-left: 1px solid #e6e6e6;
}

.user-td+.user-td{
	border-left: 1px solid #e6e6e6;
}

/*warning*/
.table .warning-th:nth-child(even) .warning-td{
	background-color: rgba(243, 242, 241, 0.47);
}

.table .warning-th,.table .warning-tH{
	cursor: pointer;
}

.warning-tr{
	background-color: #f2f2f2;
}

.warning-tr{
	border-top: none;
}

.warning-tr+.warning-tr{
	border-left: 1px solid #e6e6e6;
}

.warning-td+.warning-td{
	border-left: 1px solid #e6e6e6;
}

.tab-content{
	padding: 10px;
	display: none;
	overflow: auto;
}

.tab-content>div{
	background-color: #fff;
	padding: 20px 40px 30px 40px;
}

.user-in{
	font-size: 1.2em;
	margin: 20px 0px;

}

.user-in span{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 30px;
}

.user-in input{
	width: 250px;
	height: 35px;
	padding: 0 10px;
	border-radius: 3px;
	margin-top: 8px;
	margin-left: 10px;
	font-size: .9em;
}

.user-in input[type="file"]{
	display: inline;
	border: none;
	outline: none;
}

.user-mo button,.tab-content button,.add-car button{
	width: 250px;
	height: 40px;
	border-radius: 3px;
	margin-top: 40px;
	margin-left: 160px;
	font-size: 1.2em;
	color: #fff;
	background-color: #07d0f1;
	border:none;
}
/*warning*/
.warning-in{
	font-size: 1.2em;
	/*margin: 20px 0px;*/
	float: left;
}

.warning-in span{
	display: inline-block;
	/*width: 100px;*/
	text-align: right;
	margin-right: 30px;
}

.warning-in input{
	/*width: 250px;*/
	height: 35px;
	padding: 0 10px;
	border-radius: 3px;
	margin-top: 8px;
	margin-left: 10px;
	font-size: .9em;
}

.warning-in input[type="file"]{
	/*display: inline;*/
	border: none;
	outline: none;
}

.warning-mo button,.tab-content button,.add-car button{
	width: 250px;
	height: 40px;
	border-radius: 3px;
	margin-top: 40px;
	margin-left: 160px;
	font-size: 1.2em;
	color: #fff;
	background-color: #07d0f1;
	border:none;
}

.put-car-info-button{
	width: 250px;
	height: 40px;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 160px;
	font-size: 1.2em;
	color: #fff;
	background-color: #07d0f1;
	border:none;
}

.user-td button{
	width: auto;
	margin: 0;
	background-color: transparent;
	color: #07d0f1;
	font-size: 1.2em;
	border:none;
	font-weight: bold;
}

.user-mo button{
	margin-bottom: 20px;
}

.out-car>.user-td:first-child{
	color: red;
}
/*warning*/
.warning-td button{
	width: auto;
	margin: 0;
	background-color: transparent;
	color: #07d0f1;
	font-size: 1.2em;
	border:none;
	font-weight: bold;
}

.warning-mo button{
	margin-bottom: 20px;
}

.out-car>.warning-td:first-child{
	color: red;
}

.the-car{
	display: inline-block;
}

.the-car>div{
	display: inline-block;
	border-radius: 3px;
	border:1px solid #ddd;
	width: 175px;
	height:35px;
	box-sizing: border-box;
	padding: 5px 30px 5px 10px;
	position:relative;
	margin: 10px 10px;
}

.the-car>div>i{
	position: absolute;
	line-height: 33px;
	right: 0px;
	top: 0px;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
	cursor: pointer;

}

.myswitch{
	float: right;
	margin: 20px 40px 0 0;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 100px;
  height: 50px;
  background-color: #dddddd;
  border-radius: 50px;
  transition: background 0.4s;
  position: relative;
  cursor: pointer;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 50px;
  background-color: #dddddd;
  border-radius: 45px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #54caef;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 42px;
  background-color: #54caef;
}
input.cmn-toggle{
	display: none;
}

.user-content{
	height: 100%; 
	background-color: #fff;
	padding: 50px;
}

.user-picture{
	border-radius: 3px;
	width: 100px;
	display: inline-block;
}

.user-info-list{
	display: inline-block;
	margin-left: 26px;
	vertical-align: bottom;
}

.user-info-name{
	font-size: 40px;
}

.user-info-name i,.user-info-role i,.user-info-active i{
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
	margin-left: 20px;
	padding: 5px 10px;
	vertical-align: middle;
}

.user-info-role i,.user-info-active i{
	margin-left: 0;
}


.user-info-other{
	font-size: 20px;
	color: #999;
}

.user-info-content-top{
	padding-bottom: 40px;
}

.user-info-content-bottom{
	margin-top: 40px;
}

.user-info-content-bottom ul li{
	width: 25%;
	text-align: center;
}

.user-info-content-bottom ul a{
	font-size: 16px;
	line-height: 40px;
}

.mytab-content{
	padding-top:25px;
	padding-left: 10px;
}

.user-info-label{
	display: inline-block;
	width: 140px;
	padding: 0 15px;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 2px;
	font-weight: 600;
	color: #999;
	text-align: right;
}

.user-info-value{
	display: inline-block;
	font-size: 16px;
	line-height: 40px;
	color: #999;
	margin-left: 30px;
}
/*warning*/
.warning-content{
	height: 100%;
	background-color: #fff;
	padding: 50px;
}

.warning-picture{
	border-radius: 3px;
	width: 100px;
	display: inline-block;
}

.warning-info-list{
	display: inline-block;
	margin-left: 26px;
	vertical-align: bottom;
}

.warning-info-name{
	font-size: 40px;
}

.warning-info-name i,.warning-info-role i,.warning-info-active i{
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
	margin-left: 20px;
	padding: 5px 10px;
	vertical-align: middle;
}

.warning-info-role i,.warning-info-active i{
	margin-left: 0;
}


.warning-info-other{
	font-size: 20px;
	color: #999;
}

.warning-info-content-top{
	padding-bottom: 40px;
}

.warning-info-content-bottom{
	margin-top: 40px;
}

.warning-info-content-bottom ul li{
	width: 25%;
	text-align: center;
}

.warning-info-content-bottom ul a{
	font-size: 16px;
	line-height: 40px;
}

.warning-info-label{
	display: inline-block;
	width: 140px;
	padding: 0 15px;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 2px;
	font-weight: 600;
	color: #999;
	text-align: right;
}

.warning-info-value{
	display: inline-block;
	font-size: 16px;
	line-height: 40px;
	color: #999;
	margin-left: 30px;
}

#myTabContent #home>div,#myTabContent #ios>div,#myTabContent #logout>div{
	margin-top: 25px;
}

#myTabContent #ios input,#myTabContent #logout input{
	width: 240px;
	border-radius: 3px;
	height: 40px;
	padding-left: 10px;
}

#myTabContent #ios button,#myTabContent #logout button,#myTabContent #tou button{
	width: 240px;
	height: 45px;
	font-size: 16px;
	border-radius: 3px;
	color: #fff;
	background-color:#029ffb;
	border:1px solid #029ffb;
	margin-top: 50px;
	margin-left: 175px;
}

#myTabContent #logout p{
	font-size: 16px;
}


#myTabContent #logout a{
	display: inline-block;
	text-align: center;
	width: 200px;
	line-height: 45px;
	border-top: 1px solid #ddd;
	margin-left: 195px;
	margin-top: 30px;
}


.layui-layer-page .layui-layer-content {
	text-align: center;
	line-height: 45px;
}

.file-tr{
	background-color: #f2f2f2;
    text-align: center;
    display: inline-block;
    width: 50%;
    font-size: 16px;
    line-height: 38px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}
.file-tr+.file-tr{
    border-left: 1px solid #e6e6e6;
}

.file-td{
    text-align: center;
    display: inline-block;
    width: 50%;
    font-size: 14px;
    line-height: 38px;
    border-bottom: 1px solid #e6e6e6;
	overflow : hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.file-td+.file-td{
    border-left: 1px solid #e6e6e6;
}

.time-tr{
	background-color: #f2f2f2;
    text-align: center;
    display: inline-block;
    width: 25%;
    font-size: 16px;
    line-height: 38px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.time-tr2{
	height: 39px;
	cursor: pointer;
}

.time-tr2:hover{
	background-color: #f2f2f2;
}

.time-tr+.time-tr{
    border-left: 1px solid #e6e6e6;
}

.time-td{
    text-align: center;
    display: inline-block;
    width: 25%;
    font-size: 14px;
    line-height: 38px;
    border-bottom: 1px solid #e6e6e6;
	overflow : hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.time-td+.time-td{
    border-left: 1px solid #e6e6e6;
}

.car-modal{
	position: relative;
}

.car-search-content{
	position: absolute;
  	width: 250px;
  	left: 159px;
  	background-color: #fff;
	z-index: 999;
	border-radius: 4px;
	max-height: 400px;
	overflow: auto;
}

.car-search-content>div{ 
	line-height: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
	cursor: pointer;
}

.car-search-content>div:hover{ 
	background-color: #07d0f1;
}

.car-search-content>div:last-child{
    border-bottom: none;
}

.table-search{
	height: 58px !important;
	padding: 20px 15px 0 26px !important;
}

.table-search label{
	font-size: 16px;
	color: gray;
}

.table-search input{
	height: 38px;
	width: 240px;
	padding: 10px;
}

.table-search button{
	height: 38px;
	width: 60px;
	margin: 0 0 0 20px;
	vertical-align: top;    
	border-radius: 3px;
    font-size: .9em;
    color: #fff;
    background-color: #07d0f1;
    border: none;
}

.table-search button+button{
	margin-left: 10px;
	background-color: #c5c5c5;
}

.menu_number1,.menu_number2,.menu_number3{
	display: none;
}

.user-response button{
	margin-top: 8px;
	height: 35px !important;
	background-color: #fff;
	border: 1px solid #ddd;
}

.user-response .show-tick{
	margin-left: 10px;
	width: 250px !important;
	height: 35px !important;
}

.user-response button span{
	margin-right: 0;
	width: auto;
	color: #000;
}
/*warning*/
.warning-response button{
	margin-top: 8px;
	height: 35px !important;
	background-color: #fff;
	border: 1px solid #ddd;
}

.warning-response .show-tick{
	margin-left: 10px;
	width: 250px !important;
	height: 35px !important;
}

.warning-response button span{
	margin-right: 0;
	width: auto;
	color: #000;
}


.bootstrap-select.btn-group .dropdown-menu{
	margin-top: 7px;
	left: -13px;
}

button[data-id=selectpicker2]{
	margin-top: 10px;
}

.old-route-search{
	margin: 10px 0 10px 10px;
}

.old-route-search input{
	height: 35px;
	width: 200px;
}

.old-route-search button{
	height: 35px;
    width: 55px;
    margin: 0 0 0 10px;
    vertical-align: top;
    border-radius: 3px;
    font-size: .9em;
    color: #fff;
    background-color: #07d0f1;
    border: none;
}

.file-box{
	display: inline-block;
	position: relative;
	padding: 3px 5px;
	overflow: hidden;
	color:#fff;
	background-color: #ccc;
}
.file-btn{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	outline: none;
	background-color: transparent;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
